  @import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  body {
    background-color: #fff;
  }

  .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    position: relative;
  }

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  position: relative;

  &-btn {
    padding: 10px 14px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color: #222;
    background-color: #fff;
    border: solid 1px #222;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  &:active {
    opacity: 0.5;
  }
  &-image {
    width: 100%;
    border-radius: 5px;
    height: 300px;
  }
  &-text{
    margin: 5px 0;
    font-size: 24px;
    text-align: center;
  }
  &-close {
    position: absolute;
    top: 5px;
    color: #fff;
    font-size: 20px;
    right: 5px;
    cursor: pointer;
  }
  &-content {
    position: absolute;
    background-color: #fff;
    width: 30%;
    padding: 20px;
    border: solid 1px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30%) scale(0);
    transition: all 0.4s ease;

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) scale(1);
    }
  }
}


